DB_FILE_NAME="file:local.db"
NEXTAUTH_SECRET="4oYMQNV4n5ihqgfOMxNw/6057vNwEYyZVaEEpcdRxyg="
SECRET="4oYMQNV4n5ihqgfOMxNw/6057vNwEYyZVaEEpcdRxyg="
NEXTAUTH_URL=https://3000-idx-quotes-1732512644933.cluster-6yqpn75caneccvva7hjo4uejgk.cloudworkstations.dev